.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* on mobile go 90vw */
.app-header {
  display: flex;
  min-width: 30vw;
  justify-content: space-between;
}

/* on mobile go to 3vh */
.menu {
  margin-top: 2vh;
}

.link {
  padding-right: 5px;
}

/* on mobile go 90vw */
.user-input {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  min-width: 30vw;
}

.input-box {
  max-width: 250px;
}

/* on mobile go 90vw */
/* make a fade animation */
.notification {
  position:absolute;
  bottom:0;
  margin: 10px;
  min-width: 30vw;
  background-color: #049c3f;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

.error {
  background-color: #ec2e20;
}

/* on mobile go 90vw */
.weather-data-container {
  margin: 15px;
  min-width: 30vw;
}

.currently {
  text-align: left;
}

.temp {
  text-align: center;
  font-size: 5rem;
}

.city {
  text-align: right;
}

@media (max-width: 1200px) {

  .app-header {
    min-width: 90vw;
  }

  .menu {
    margin-top: 3vh;
  }

  .user-input {
    min-width: 90vw;
  }

  .input-box {
    max-width: 150px;
  }

  .notification {
    min-width: 90vw;
  }

  .weather-data-container {
    margin: 15px;
    min-width: 90vw;
  }
}