.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* on mobile go 90vw */
.app-header {
  display: flex;
  min-width: 30vw;
  justify-content: space-between;
}

/* on mobile go to 3vh */
.menu {
  margin-top: 2vh;
}

.link {
  padding-right: 5px;
}

/* on mobile go 90vw */
.user-input {
  text-align: left;
  min-width: 30vw;
}

/* on mobile go 90vw */
/* make a fade animation */
.notification {
  position:absolute;
  bottom:0;
  margin: 10px;
  min-width: 30vw;
  background-color: #049c3f;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

.error {
  background-color: #ec2e20;
}