.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}

.app-header {
  display: flex;
  min-width: 30vw;
  justify-content: space-between;
}

.menu {
  margin: 2vh 0 2vh;
}

.link {
  padding-right: 5px;
}

.user-input {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  min-width: 30vw;
}

.input-box {
  max-width: 250px;
}

/* make a fade animation */
.notification {
  position:absolute;
  bottom:0;
  margin: 10px;
  min-width: 30vw;
  background-color: #049c3f;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

.error {
  background-color: #ec2e20;
}

.weather-data-container {
  margin: 15px;
  min-width: 30vw;
}

.currently {
  text-align: left;
}

.temp {
  text-align: center;
  font-size: 5rem;
}

.city {
  text-align: right;
}

.forecast-data-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.forecast-header {
  margin: 3vh 0 1vh 5vw;
}

.forecast-list {
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.forecast-card {
  margin: 15px 15px 45px;
  max-width: 100%;
}

.snapshot {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {

  .forecast-list {
    justify-content: flex-start;
  }

  .snapshot {
    width: 90vw;
  }

  .forecast-list {
    width: 100vw;
  }
}

@media (max-width: 1200px) {

  .app-header {
    min-width: 90vw;
  }

  .menu {
    margin-top: 3vh;
  }

  .user-input {
    min-width: 90vw;
  }

  .input-box {
    max-width: 150px;
  }

  .notification {
    min-width: 90vw;
  }

  .weather-data-container {
    margin: 15px;
    min-width: 90vw;
  }
}